*{
  margin: 0 auto;
  padding: auto;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #fdf2e9;
  min-height: 100vh;
}

.parallax{
  background-attachment: fixed;
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}

.fab{
  text-decoration: none;
  color: white;
}

.fa-whatsapp{
  color: green;
}



/*.flex-container{
  display: flex;
  flex-direction: column;
}*/

/*
nav{
  opacity: 0.9;
  z-index: 1;
  display: flex;
}
*/

nav img {
  display: flex;
  height: 3.5rem;
  align-items: center;
}



.nav-item{
  display: flex;
  align-items: center;
}

.bd-example{
  z-index: 0;
}

.carousel-item{
  width: 100%;
  height: 100vh;
}

.main{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: auto;
}

article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #fdf2e9;
  background-size: cover;
}

article p{
  display: flex;
  justify-content: center;
  font-family: "Amatic SC", "cursive", sans-serif;
  font-size: 2rem;
}

.articulos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.destacado{
  flex-direction: column;
  background-color: #fdf2e9;
  background-size: cover;
}

.precio{
  color: red;
}

.descripcion{
  font-weight: bold;
}

article img{
  width: 90%;
  height: auto;
  margin: 1% 2.5% 1% 2.5%;
}

.sin-carousel{
  padding-top: 100px;
  height: auto;
}

.ingreso{
  max-width: 320px;
}

.registro{
  /*max-width: 320px;*/
}

nav ul{
  font-size: 1.2rem;
}

article.titulo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #fdf2e9;
  background-size: cover;
}

article.preguntas{
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #fdf2e9;
  background-size: cover;
  margin-left: 5%;
  margin-right: 5%
}

p.pregunta{
  font-family: 'Norican', cursive;
  font-size: 1.3rem;
  font-weight: bold;
}

p.respuesta{
  font-size: 1.2rem;
  color: grey;

}

span{
  color: gray;
  max-width: 320px;
  height: 2rem;
}


footer {
  background-color:#1A1A1A;
  height: 50%;
  width: 100%;
  color: white;
}

.main1 {
  display:flex;
  margin:0 auto;
}

a img:hover {
    color: white;
}
h6{
  float: right;
}

.btn-whatsapp {
display:block;
width:70px;
height:70px;
color#fff;
position: fixed;
right:20px;
bottom:20px;
border-radius:50%;
line-height:80px;
text-align:center;
z-index:999;}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  article img{
    width: 40%;
    height: auto;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
  }
  section {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
}

@media only screen and (min-device-width : 1200px) {
  article img{
    width: 60%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
  }
  section {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  .main{
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
  }
}
